@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700&family=DM+Serif+Display&display=swap');
*{
    margin: 0;
    padding: 0;
}
.title{
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    color: #3542D4;
}
.message{
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "DM Sans", sans-serif;
}
.alert{
    color: #E3583E;
    font-family: "DM Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}