@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700&family=DM+Serif+Display&display=swap');
*{
    margin: 0;
    padding: 0;
}
.top-section{
    border-bottom: 1px solid #ccc;
}
.back-link{
    text-decoration: none;
    color: #5c6b8a;
    font-size: 1rem;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
}
.event-btn{
    border: 1px solid #ccc;
    border-radius: 8px;
}
.event-img{
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
}
.event-type{
    color: #E3583E;
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
    font-weight: 500;
}
.name{
    font-family: "DM Serif Text", serif;
    font-size: 2rem;
    font-weight: 700;
}
.event-location, .event-attendance, .evnt-date, .event-time, .slots-name{
    color: #5c6b8a;
    font-family: "DM Sans", sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
}
.section-title{
    font-family: "DM Serif Text", serif;
    font-size: 1.3rem;
    font-weight: 700;
}
.event-description{
    color: #5c6b8a;
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
    font-weight: 500;
}
.event-organizer{
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
    font-weight: 500;
}
.organizer{
    color: #E3583E;
}
.ticket-section{
    border: 1px solid #ccc;
    border-radius: 10px;
}
.event-price{
    color: #000;
    font-family: "DM Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}
.slots-left{
    color: #000;
    font-family: "DM Sans", sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
}
.progress{
    height: 10px;
    margin-top: -15px;
}
.progress-bar{
    background-color: #3542D4;
}
.ticket-btn{
    background-color: #3542D4;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
}